body { margin: 2em auto 0; }
footer { margin-top: 2.5em; margin-bottom: 1.5em; padding-top: 1em; border-top: 1px solid #ccc; }
h1 { font-weight: 400; margin-bottom: 0.1rem; }
p { font-size: 1.2em; }

.fiv-cla, .fiv-viv, .fiv-sqo { font-size: 3.5em; margin: .1em 0 2px; }
.icon-desc { font-size: .85em; text-align: center; overflow: scroll; white-space: nowrap; }
.intro { margin-top: 0.75em; }
.byline { margin-bottom: 0.3em; font-size: 1.2em; }
#content { width: 100%; }
#tools { text-align: center; float: right; }
#tools p { margin-top: 1em; }
#tools p > a { border-width: 2.25px; font-weight: bold; margin: 0 0.1em; min-width: 6em; }

.ga-beacon { margin-top: .5em; }

div.spacer-1 { height: 1em; }
div.spacer-2 { height: 2em; }

/* Media Query Hacks */
@media (max-width: 767px) {
  #tools, .hidden-xs-down {
    display: none;
  }
}
