@include file-family(hct, 1);
@include file-icon(high-contrast, hct, 3g2);
@include file-icon(high-contrast, hct, 3ga);
@include file-icon(high-contrast, hct, 3gp);
@include file-icon(high-contrast, hct, 7z);
@include file-icon(high-contrast, hct, aa);
@include file-icon(high-contrast, hct, aac);
@include file-icon(high-contrast, hct, ac);
@include file-icon(high-contrast, hct, accdb);
@include file-icon(high-contrast, hct, accdt);
@include file-icon(high-contrast, hct, ace);
@include file-icon(high-contrast, hct, adn);
@include file-icon(high-contrast, hct, ai);
@include file-icon(high-contrast, hct, aif);
@include file-icon(high-contrast, hct, aifc);
@include file-icon(high-contrast, hct, aiff);
@include file-icon(high-contrast, hct, ait);
@include file-icon(high-contrast, hct, amr);
@include file-icon(high-contrast, hct, ani);
@include file-icon(high-contrast, hct, apk);
@include file-icon(high-contrast, hct, app);
@include file-icon(high-contrast, hct, applescript);
@include file-icon(high-contrast, hct, asax);
@include file-icon(high-contrast, hct, asc);
@include file-icon(high-contrast, hct, ascx);
@include file-icon(high-contrast, hct, asf);
@include file-icon(high-contrast, hct, ash);
@include file-icon(high-contrast, hct, ashx);
@include file-icon(high-contrast, hct, asm);
@include file-icon(high-contrast, hct, asmx);
@include file-icon(high-contrast, hct, asp);
@include file-icon(high-contrast, hct, aspx);
@include file-icon(high-contrast, hct, asx);
@include file-icon(high-contrast, hct, au);
@include file-icon(high-contrast, hct, aup);
@include file-icon(high-contrast, hct, avi);
@include file-icon(high-contrast, hct, axd);
@include file-icon(high-contrast, hct, aze);
@include file-icon(high-contrast, hct, bak);
@include file-icon(high-contrast, hct, bash);
@include file-icon(high-contrast, hct, bat);
@include file-icon(high-contrast, hct, bin);
@include file-icon(high-contrast, hct, blank);
@include file-icon(high-contrast, hct, bmp);
@include file-icon(high-contrast, hct, bowerrc);
@include file-icon(high-contrast, hct, bpg);
@include file-icon(high-contrast, hct, browser);
@include file-icon(high-contrast, hct, bz2);
@include file-icon(high-contrast, hct, bzempty);
@include file-icon(high-contrast, hct, c);
@include file-icon(high-contrast, hct, cab);
@include file-icon(high-contrast, hct, cad);
@include file-icon(high-contrast, hct, caf);
@include file-icon(high-contrast, hct, cal);
@include file-icon(high-contrast, hct, cd);
@include file-icon(high-contrast, hct, cdda);
@include file-icon(high-contrast, hct, cer);
@include file-icon(high-contrast, hct, cfg);
@include file-icon(high-contrast, hct, cfm);
@include file-icon(high-contrast, hct, cfml);
@include file-icon(high-contrast, hct, cgi);
@include file-icon(high-contrast, hct, chm);
@include file-icon(high-contrast, hct, class);
@include file-icon(high-contrast, hct, cmd);
@include file-icon(high-contrast, hct, code-workspace);
@include file-icon(high-contrast, hct, codekit);
@include file-icon(high-contrast, hct, codekit3);
@include file-icon(high-contrast, hct, coffee);
@include file-icon(high-contrast, hct, coffeelintignore);
@include file-icon(high-contrast, hct, com);
@include file-icon(high-contrast, hct, compile);
@include file-icon(high-contrast, hct, conf);
@include file-icon(high-contrast, hct, config);
@include file-icon(high-contrast, hct, cpp);
@include file-icon(high-contrast, hct, cptx);
@include file-icon(high-contrast, hct, cr2);
@include file-icon(high-contrast, hct, crdownload);
@include file-icon(high-contrast, hct, crt);
@include file-icon(high-contrast, hct, crypt);
@include file-icon(high-contrast, hct, cs);
@include file-icon(high-contrast, hct, csh);
@include file-icon(high-contrast, hct, cson);
@include file-icon(high-contrast, hct, csproj);
@include file-icon(high-contrast, hct, css);
@include file-icon(high-contrast, hct, csv);
@include file-icon(high-contrast, hct, cue);
@include file-icon(high-contrast, hct, cur);
@include file-icon(high-contrast, hct, dart);
@include file-icon(high-contrast, hct, dat);
@include file-icon(high-contrast, hct, data);
@include file-icon(high-contrast, hct, db);
@include file-icon(high-contrast, hct, dbf);
@include file-icon(high-contrast, hct, deb);
@include file-icon(high-contrast, hct, default);
@include file-icon(high-contrast, hct, dgn);
@include file-icon(high-contrast, hct, dist);
@include file-icon(high-contrast, hct, diz);
@include file-icon(high-contrast, hct, dll);
@include file-icon(high-contrast, hct, dmg);
@include file-icon(high-contrast, hct, dng);
@include file-icon(high-contrast, hct, doc);
@include file-icon(high-contrast, hct, docb);
@include file-icon(high-contrast, hct, docm);
@include file-icon(high-contrast, hct, docx);
@include file-icon(high-contrast, hct, dot);
@include file-icon(high-contrast, hct, dotm);
@include file-icon(high-contrast, hct, dotx);
@include file-icon(high-contrast, hct, download);
@include file-icon(high-contrast, hct, dpj);
@include file-icon(high-contrast, hct, ds_store);
@include file-icon(high-contrast, hct, dsn);
@include file-icon(high-contrast, hct, dst);
@include file-icon(high-contrast, hct, dtd);
@include file-icon(high-contrast, hct, dwg);
@include file-icon(high-contrast, hct, dxf);
@include file-icon(high-contrast, hct, editorconfig);
@include file-icon(high-contrast, hct, el);
@include file-icon(high-contrast, hct, elf);
@include file-icon(high-contrast, hct, eml);
@include file-icon(high-contrast, hct, enc);
@include file-icon(high-contrast, hct, eot);
@include file-icon(high-contrast, hct, eps);
@include file-icon(high-contrast, hct, epub);
@include file-icon(high-contrast, hct, eslintignore);
@include file-icon(high-contrast, hct, exe);
@include file-icon(high-contrast, hct, f4v);
@include file-icon(high-contrast, hct, fax);
@include file-icon(high-contrast, hct, fb2);
@include file-icon(high-contrast, hct, fla);
@include file-icon(high-contrast, hct, flac);
@include file-icon(high-contrast, hct, flv);
@include file-icon(high-contrast, hct, fnt);
@include file-icon(high-contrast, hct, fon);
@include file-icon(high-contrast, hct, gadget);
@include file-icon(high-contrast, hct, gdp);
@include file-icon(high-contrast, hct, gem);
@include file-icon(high-contrast, hct, gif);
@include file-icon(high-contrast, hct, gitattributes);
@include file-icon(high-contrast, hct, gitignore);
@include file-icon(high-contrast, hct, go);
@include file-icon(high-contrast, hct, gpg);
@include file-icon(high-contrast, hct, gpl);
@include file-icon(high-contrast, hct, gradle);
@include file-icon(high-contrast, hct, gz);
@include file-icon(high-contrast, hct, h);
@include file-icon(high-contrast, hct, handlebars);
@include file-icon(high-contrast, hct, hbs);
@include file-icon(high-contrast, hct, heic);
@include file-icon(high-contrast, hct, hlp);
@include file-icon(high-contrast, hct, hs);
@include file-icon(high-contrast, hct, hsl);
@include file-icon(high-contrast, hct, htm);
@include file-icon(high-contrast, hct, html);
@include file-icon(high-contrast, hct, ibooks);
@include file-icon(high-contrast, hct, icma);
@include file-icon(high-contrast, hct, icml);
@include file-icon(high-contrast, hct, icns);
@include file-icon(high-contrast, hct, ico);
@include file-icon(high-contrast, hct, ics);
@include file-icon(high-contrast, hct, idx);
@include file-icon(high-contrast, hct, iff);
@include file-icon(high-contrast, hct, ifo);
@include file-icon(high-contrast, hct, image);
@include file-icon(high-contrast, hct, img);
@include file-icon(high-contrast, hct, iml);
@include file-icon(high-contrast, hct, in);
@include file-icon(high-contrast, hct, inc);
@include file-icon(high-contrast, hct, indd);
@include file-icon(high-contrast, hct, inf);
@include file-icon(high-contrast, hct, info);
@include file-icon(high-contrast, hct, ini);
@include file-icon(high-contrast, hct, inv);
@include file-icon(high-contrast, hct, iso);
@include file-icon(high-contrast, hct, j2);
@include file-icon(high-contrast, hct, jar);
@include file-icon(high-contrast, hct, java);
@include file-icon(high-contrast, hct, jpe);
@include file-icon(high-contrast, hct, jpeg);
@include file-icon(high-contrast, hct, jpg);
@include file-icon(high-contrast, hct, js);
@include file-icon(high-contrast, hct, json);
@include file-icon(high-contrast, hct, jsp);
@include file-icon(high-contrast, hct, jsx);
@include file-icon(high-contrast, hct, key);
@include file-icon(high-contrast, hct, kf8);
@include file-icon(high-contrast, hct, kit);
@include file-icon(high-contrast, hct, kmk);
@include file-icon(high-contrast, hct, ksh);
@include file-icon(high-contrast, hct, kt);
@include file-icon(high-contrast, hct, kts);
@include file-icon(high-contrast, hct, kup);
@include file-icon(high-contrast, hct, less);
@include file-icon(high-contrast, hct, lex);
@include file-icon(high-contrast, hct, licx);
@include file-icon(high-contrast, hct, lisp);
@include file-icon(high-contrast, hct, list);
@include file-icon(high-contrast, hct, lit);
@include file-icon(high-contrast, hct, lnk);
@include file-icon(high-contrast, hct, lock);
@include file-icon(high-contrast, hct, log);
@include file-icon(high-contrast, hct, lua);
@include file-icon(high-contrast, hct, m);
@include file-icon(high-contrast, hct, m2v);
@include file-icon(high-contrast, hct, m3u);
@include file-icon(high-contrast, hct, m3u8);
@include file-icon(high-contrast, hct, m4);
@include file-icon(high-contrast, hct, m4a);
@include file-icon(high-contrast, hct, m4r);
@include file-icon(high-contrast, hct, m4v);
@include file-icon(high-contrast, hct, map);
@include file-icon(high-contrast, hct, master);
@include file-icon(high-contrast, hct, mc);
@include file-icon(high-contrast, hct, md);
@include file-icon(high-contrast, hct, mdb);
@include file-icon(high-contrast, hct, mdf);
@include file-icon(high-contrast, hct, me);
@include file-icon(high-contrast, hct, mi);
@include file-icon(high-contrast, hct, mid);
@include file-icon(high-contrast, hct, midi);
@include file-icon(high-contrast, hct, mk);
@include file-icon(high-contrast, hct, mkv);
@include file-icon(high-contrast, hct, mm);
@include file-icon(high-contrast, hct, mng);
@include file-icon(high-contrast, hct, mo);
@include file-icon(high-contrast, hct, mobi);
@include file-icon(high-contrast, hct, mod);
@include file-icon(high-contrast, hct, mov);
@include file-icon(high-contrast, hct, mp2);
@include file-icon(high-contrast, hct, mp3);
@include file-icon(high-contrast, hct, mp4);
@include file-icon(high-contrast, hct, mpa);
@include file-icon(high-contrast, hct, mpd);
@include file-icon(high-contrast, hct, mpe);
@include file-icon(high-contrast, hct, mpeg);
@include file-icon(high-contrast, hct, mpg);
@include file-icon(high-contrast, hct, mpga);
@include file-icon(high-contrast, hct, mpp);
@include file-icon(high-contrast, hct, mpt);
@include file-icon(high-contrast, hct, msg);
@include file-icon(high-contrast, hct, msi);
@include file-icon(high-contrast, hct, msu);
@include file-icon(high-contrast, hct, nef);
@include file-icon(high-contrast, hct, nes);
@include file-icon(high-contrast, hct, nfo);
@include file-icon(high-contrast, hct, nix);
@include file-icon(high-contrast, hct, npmignore);
@include file-icon(high-contrast, hct, ocx);
@include file-icon(high-contrast, hct, odb);
@include file-icon(high-contrast, hct, ods);
@include file-icon(high-contrast, hct, odt);
@include file-icon(high-contrast, hct, ogg);
@include file-icon(high-contrast, hct, ogv);
@include file-icon(high-contrast, hct, one);
@include file-icon(high-contrast, hct, ost);
@include file-icon(high-contrast, hct, otf);
@include file-icon(high-contrast, hct, ott);
@include file-icon(high-contrast, hct, ova);
@include file-icon(high-contrast, hct, ovf);
@include file-icon(high-contrast, hct, p12);
@include file-icon(high-contrast, hct, p7b);
@include file-icon(high-contrast, hct, pages);
@include file-icon(high-contrast, hct, part);
@include file-icon(high-contrast, hct, partial);
@include file-icon(high-contrast, hct, pbix);
@include file-icon(high-contrast, hct, pcd);
@include file-icon(high-contrast, hct, pdb);
@include file-icon(high-contrast, hct, pdf);
@include file-icon(high-contrast, hct, pem);
@include file-icon(high-contrast, hct, pfx);
@include file-icon(high-contrast, hct, pgp);
@include file-icon(high-contrast, hct, ph);
@include file-icon(high-contrast, hct, phar);
@include file-icon(high-contrast, hct, php);
@include file-icon(high-contrast, hct, pid);
@include file-icon(high-contrast, hct, pkg);
@include file-icon(high-contrast, hct, pl);
@include file-icon(high-contrast, hct, plist);
@include file-icon(high-contrast, hct, pm);
@include file-icon(high-contrast, hct, png);
@include file-icon(high-contrast, hct, po);
@include file-icon(high-contrast, hct, pom);
@include file-icon(high-contrast, hct, pot);
@include file-icon(high-contrast, hct, potx);
@include file-icon(high-contrast, hct, ppk);
@include file-icon(high-contrast, hct, pps);
@include file-icon(high-contrast, hct, ppsx);
@include file-icon(high-contrast, hct, ppt);
@include file-icon(high-contrast, hct, pptm);
@include file-icon(high-contrast, hct, pptx);
@include file-icon(high-contrast, hct, prop);
@include file-icon(high-contrast, hct, ps);
@include file-icon(high-contrast, hct, ps1);
@include file-icon(high-contrast, hct, psd);
@include file-icon(high-contrast, hct, psp);
@include file-icon(high-contrast, hct, pst);
@include file-icon(high-contrast, hct, pub);
@include file-icon(high-contrast, hct, py);
@include file-icon(high-contrast, hct, pyc);
@include file-icon(high-contrast, hct, qt);
@include file-icon(high-contrast, hct, ra);
@include file-icon(high-contrast, hct, ram);
@include file-icon(high-contrast, hct, rar);
@include file-icon(high-contrast, hct, raw);
@include file-icon(high-contrast, hct, rb);
@include file-icon(high-contrast, hct, rdf);
@include file-icon(high-contrast, hct, rdl);
@include file-icon(high-contrast, hct, reg);
@include file-icon(high-contrast, hct, resx);
@include file-icon(high-contrast, hct, retry);
@include file-icon(high-contrast, hct, rm);
@include file-icon(high-contrast, hct, rom);
@include file-icon(high-contrast, hct, rpm);
@include file-icon(high-contrast, hct, rpt);
@include file-icon(high-contrast, hct, rsa);
@include file-icon(high-contrast, hct, rss);
@include file-icon(high-contrast, hct, rst);
@include file-icon(high-contrast, hct, rtf);
@include file-icon(high-contrast, hct, ru);
@include file-icon(high-contrast, hct, rub);
@include file-icon(high-contrast, hct, sass);
@include file-icon(high-contrast, hct, save);
@include file-icon(high-contrast, hct, scss);
@include file-icon(high-contrast, hct, sdf);
@include file-icon(high-contrast, hct, sed);
@include file-icon(high-contrast, hct, sesx);
@include file-icon(high-contrast, hct, sh);
@include file-icon(high-contrast, hct, sit);
@include file-icon(high-contrast, hct, sitemap);
@include file-icon(high-contrast, hct, sketch);
@include file-icon(high-contrast, hct, skin);
@include file-icon(high-contrast, hct, sldm);
@include file-icon(high-contrast, hct, sldx);
@include file-icon(high-contrast, hct, sln);
@include file-icon(high-contrast, hct, sol);
@include file-icon(high-contrast, hct, sphinx);
@include file-icon(high-contrast, hct, sql);
@include file-icon(high-contrast, hct, sqlite);
@include file-icon(high-contrast, hct, srt);
@include file-icon(high-contrast, hct, step);
@include file-icon(high-contrast, hct, stl);
@include file-icon(high-contrast, hct, sub);
@include file-icon(high-contrast, hct, svg);
@include file-icon(high-contrast, hct, swd);
@include file-icon(high-contrast, hct, swf);
@include file-icon(high-contrast, hct, swift);
@include file-icon(high-contrast, hct, swp);
@include file-icon(high-contrast, hct, sys);
@include file-icon(high-contrast, hct, tar);
@include file-icon(high-contrast, hct, tax);
@include file-icon(high-contrast, hct, tcsh);
@include file-icon(high-contrast, hct, tex);
@include file-icon(high-contrast, hct, tfignore);
@include file-icon(high-contrast, hct, tga);
@include file-icon(high-contrast, hct, tgz);
@include file-icon(high-contrast, hct, tif);
@include file-icon(high-contrast, hct, tiff);
@include file-icon(high-contrast, hct, tmp);
@include file-icon(high-contrast, hct, tmx);
@include file-icon(high-contrast, hct, torrent);
@include file-icon(high-contrast, hct, tpl);
@include file-icon(high-contrast, hct, ts);
@include file-icon(high-contrast, hct, tsv);
@include file-icon(high-contrast, hct, tsx);
@include file-icon(high-contrast, hct, ttf);
@include file-icon(high-contrast, hct, twig);
@include file-icon(high-contrast, hct, txt);
@include file-icon(high-contrast, hct, udf);
@include file-icon(high-contrast, hct, vb);
@include file-icon(high-contrast, hct, vbproj);
@include file-icon(high-contrast, hct, vbs);
@include file-icon(high-contrast, hct, vcd);
@include file-icon(high-contrast, hct, vcf);
@include file-icon(high-contrast, hct, vcs);
@include file-icon(high-contrast, hct, vdi);
@include file-icon(high-contrast, hct, vdx);
@include file-icon(high-contrast, hct, vmdk);
@include file-icon(high-contrast, hct, vob);
@include file-icon(high-contrast, hct, vox);
@include file-icon(high-contrast, hct, vscodeignore);
@include file-icon(high-contrast, hct, vsd);
@include file-icon(high-contrast, hct, vss);
@include file-icon(high-contrast, hct, vst);
@include file-icon(high-contrast, hct, vsx);
@include file-icon(high-contrast, hct, vtx);
@include file-icon(high-contrast, hct, war);
@include file-icon(high-contrast, hct, wav);
@include file-icon(high-contrast, hct, wbk);
@include file-icon(high-contrast, hct, webinfo);
@include file-icon(high-contrast, hct, webm);
@include file-icon(high-contrast, hct, webp);
@include file-icon(high-contrast, hct, wma);
@include file-icon(high-contrast, hct, wmf);
@include file-icon(high-contrast, hct, wmv);
@include file-icon(high-contrast, hct, woff);
@include file-icon(high-contrast, hct, woff2);
@include file-icon(high-contrast, hct, wpd);
@include file-icon(high-contrast, hct, wps);
@include file-icon(high-contrast, hct, wsf);
@include file-icon(high-contrast, hct, xaml);
@include file-icon(high-contrast, hct, xcf);
@include file-icon(high-contrast, hct, xcodeproj);
@include file-icon(high-contrast, hct, xfl);
@include file-icon(high-contrast, hct, xlb);
@include file-icon(high-contrast, hct, xlc);
@include file-icon(high-contrast, hct, xlm);
@include file-icon(high-contrast, hct, xls);
@include file-icon(high-contrast, hct, xlsb);
@include file-icon(high-contrast, hct, xlsm);
@include file-icon(high-contrast, hct, xlsx);
@include file-icon(high-contrast, hct, xlt);
@include file-icon(high-contrast, hct, xltm);
@include file-icon(high-contrast, hct, xltx);
@include file-icon(high-contrast, hct, xml);
@include file-icon(high-contrast, hct, xpi);
@include file-icon(high-contrast, hct, xps);
@include file-icon(high-contrast, hct, xrb);
@include file-icon(high-contrast, hct, xsd);
@include file-icon(high-contrast, hct, xsl);
@include file-icon(high-contrast, hct, xspf);
@include file-icon(high-contrast, hct, xz);
@include file-icon(high-contrast, hct, yaml);
@include file-icon(high-contrast, hct, yml);
@include file-icon(high-contrast, hct, z);
@include file-icon(high-contrast, hct, zip);
@include file-icon(high-contrast, hct, zsh);
