@include file-family(cla, 0.72);
@include file-icon(classic, cla, 3g2);
@include file-icon(classic, cla, 3ga);
@include file-icon(classic, cla, 3gp);
@include file-icon(classic, cla, 7z);
@include file-icon(classic, cla, aa);
@include file-icon(classic, cla, aac);
@include file-icon(classic, cla, ac);
@include file-icon(classic, cla, accdb);
@include file-icon(classic, cla, accdt);
@include file-icon(classic, cla, ace);
@include file-icon(classic, cla, adn);
@include file-icon(classic, cla, ai);
@include file-icon(classic, cla, aif);
@include file-icon(classic, cla, aifc);
@include file-icon(classic, cla, aiff);
@include file-icon(classic, cla, ait);
@include file-icon(classic, cla, amr);
@include file-icon(classic, cla, ani);
@include file-icon(classic, cla, apk);
@include file-icon(classic, cla, app);
@include file-icon(classic, cla, applescript);
@include file-icon(classic, cla, asax);
@include file-icon(classic, cla, asc);
@include file-icon(classic, cla, ascx);
@include file-icon(classic, cla, asf);
@include file-icon(classic, cla, ash);
@include file-icon(classic, cla, ashx);
@include file-icon(classic, cla, asm);
@include file-icon(classic, cla, asmx);
@include file-icon(classic, cla, asp);
@include file-icon(classic, cla, aspx);
@include file-icon(classic, cla, asx);
@include file-icon(classic, cla, au);
@include file-icon(classic, cla, aup);
@include file-icon(classic, cla, avi);
@include file-icon(classic, cla, axd);
@include file-icon(classic, cla, aze);
@include file-icon(classic, cla, bak);
@include file-icon(classic, cla, bash);
@include file-icon(classic, cla, bat);
@include file-icon(classic, cla, bin);
@include file-icon(classic, cla, blank);
@include file-icon(classic, cla, bmp);
@include file-icon(classic, cla, bowerrc);
@include file-icon(classic, cla, bpg);
@include file-icon(classic, cla, browser);
@include file-icon(classic, cla, bz2);
@include file-icon(classic, cla, bzempty);
@include file-icon(classic, cla, c);
@include file-icon(classic, cla, cab);
@include file-icon(classic, cla, cad);
@include file-icon(classic, cla, caf);
@include file-icon(classic, cla, cal);
@include file-icon(classic, cla, cd);
@include file-icon(classic, cla, cdda);
@include file-icon(classic, cla, cer);
@include file-icon(classic, cla, cfg);
@include file-icon(classic, cla, cfm);
@include file-icon(classic, cla, cfml);
@include file-icon(classic, cla, cgi);
@include file-icon(classic, cla, chm);
@include file-icon(classic, cla, class);
@include file-icon(classic, cla, cmd);
@include file-icon(classic, cla, code-workspace);
@include file-icon(classic, cla, codekit);
@include file-icon(classic, cla, coffee);
@include file-icon(classic, cla, coffeelintignore);
@include file-icon(classic, cla, com);
@include file-icon(classic, cla, compile);
@include file-icon(classic, cla, conf);
@include file-icon(classic, cla, config);
@include file-icon(classic, cla, cpp);
@include file-icon(classic, cla, cptx);
@include file-icon(classic, cla, cr2);
@include file-icon(classic, cla, crdownload);
@include file-icon(classic, cla, crt);
@include file-icon(classic, cla, crypt);
@include file-icon(classic, cla, cs);
@include file-icon(classic, cla, csh);
@include file-icon(classic, cla, cson);
@include file-icon(classic, cla, csproj);
@include file-icon(classic, cla, css);
@include file-icon(classic, cla, csv);
@include file-icon(classic, cla, cue);
@include file-icon(classic, cla, cur);
@include file-icon(classic, cla, dart);
@include file-icon(classic, cla, dat);
@include file-icon(classic, cla, data);
@include file-icon(classic, cla, db);
@include file-icon(classic, cla, dbf);
@include file-icon(classic, cla, deb);
@include file-icon(classic, cla, default);
@include file-icon(classic, cla, dgn);
@include file-icon(classic, cla, dist);
@include file-icon(classic, cla, diz);
@include file-icon(classic, cla, dll);
@include file-icon(classic, cla, dmg);
@include file-icon(classic, cla, dng);
@include file-icon(classic, cla, doc);
@include file-icon(classic, cla, docb);
@include file-icon(classic, cla, docm);
@include file-icon(classic, cla, docx);
@include file-icon(classic, cla, dot);
@include file-icon(classic, cla, dotm);
@include file-icon(classic, cla, dotx);
@include file-icon(classic, cla, download);
@include file-icon(classic, cla, dpj);
@include file-icon(classic, cla, ds_store);
@include file-icon(classic, cla, dsn);
@include file-icon(classic, cla, dtd);
@include file-icon(classic, cla, dwg);
@include file-icon(classic, cla, dxf);
@include file-icon(classic, cla, editorconfig);
@include file-icon(classic, cla, el);
@include file-icon(classic, cla, elf);
@include file-icon(classic, cla, eml);
@include file-icon(classic, cla, enc);
@include file-icon(classic, cla, eot);
@include file-icon(classic, cla, eps);
@include file-icon(classic, cla, epub);
@include file-icon(classic, cla, eslintignore);
@include file-icon(classic, cla, exe);
@include file-icon(classic, cla, f4v);
@include file-icon(classic, cla, fax);
@include file-icon(classic, cla, fb2);
@include file-icon(classic, cla, fla);
@include file-icon(classic, cla, flac);
@include file-icon(classic, cla, flv);
@include file-icon(classic, cla, fnt);
@include file-icon(classic, cla, folder);
@include file-icon(classic, cla, fon);
@include file-icon(classic, cla, gadget);
@include file-icon(classic, cla, gdp);
@include file-icon(classic, cla, gem);
@include file-icon(classic, cla, gif);
@include file-icon(classic, cla, gitattributes);
@include file-icon(classic, cla, gitignore);
@include file-icon(classic, cla, go);
@include file-icon(classic, cla, gpg);
@include file-icon(classic, cla, gpl);
@include file-icon(classic, cla, gradle);
@include file-icon(classic, cla, gz);
@include file-icon(classic, cla, h);
@include file-icon(classic, cla, handlebars);
@include file-icon(classic, cla, hbs);
@include file-icon(classic, cla, heic);
@include file-icon(classic, cla, hlp);
@include file-icon(classic, cla, hs);
@include file-icon(classic, cla, hsl);
@include file-icon(classic, cla, htm);
@include file-icon(classic, cla, html);
@include file-icon(classic, cla, ibooks);
@include file-icon(classic, cla, icns);
@include file-icon(classic, cla, ico);
@include file-icon(classic, cla, ics);
@include file-icon(classic, cla, idx);
@include file-icon(classic, cla, iff);
@include file-icon(classic, cla, ifo);
@include file-icon(classic, cla, image);
@include file-icon(classic, cla, img);
@include file-icon(classic, cla, iml);
@include file-icon(classic, cla, in);
@include file-icon(classic, cla, inc);
@include file-icon(classic, cla, indd);
@include file-icon(classic, cla, inf);
@include file-icon(classic, cla, info);
@include file-icon(classic, cla, ini);
@include file-icon(classic, cla, inv);
@include file-icon(classic, cla, iso);
@include file-icon(classic, cla, j2);
@include file-icon(classic, cla, jar);
@include file-icon(classic, cla, java);
@include file-icon(classic, cla, jpe);
@include file-icon(classic, cla, jpeg);
@include file-icon(classic, cla, jpg);
@include file-icon(classic, cla, js);
@include file-icon(classic, cla, json);
@include file-icon(classic, cla, jsp);
@include file-icon(classic, cla, jsx);
@include file-icon(classic, cla, key);
@include file-icon(classic, cla, kf8);
@include file-icon(classic, cla, kmk);
@include file-icon(classic, cla, ksh);
@include file-icon(classic, cla, kt);
@include file-icon(classic, cla, kts);
@include file-icon(classic, cla, kup);
@include file-icon(classic, cla, less);
@include file-icon(classic, cla, lex);
@include file-icon(classic, cla, licx);
@include file-icon(classic, cla, lisp);
@include file-icon(classic, cla, lit);
@include file-icon(classic, cla, lnk);
@include file-icon(classic, cla, lock);
@include file-icon(classic, cla, log);
@include file-icon(classic, cla, lua);
@include file-icon(classic, cla, m);
@include file-icon(classic, cla, m2v);
@include file-icon(classic, cla, m3u);
@include file-icon(classic, cla, m3u8);
@include file-icon(classic, cla, m4);
@include file-icon(classic, cla, m4a);
@include file-icon(classic, cla, m4r);
@include file-icon(classic, cla, m4v);
@include file-icon(classic, cla, map);
@include file-icon(classic, cla, master);
@include file-icon(classic, cla, mc);
@include file-icon(classic, cla, md);
@include file-icon(classic, cla, mdb);
@include file-icon(classic, cla, mdf);
@include file-icon(classic, cla, me);
@include file-icon(classic, cla, mi);
@include file-icon(classic, cla, mid);
@include file-icon(classic, cla, midi);
@include file-icon(classic, cla, mk);
@include file-icon(classic, cla, mkv);
@include file-icon(classic, cla, mm);
@include file-icon(classic, cla, mng);
@include file-icon(classic, cla, mo);
@include file-icon(classic, cla, mobi);
@include file-icon(classic, cla, mod);
@include file-icon(classic, cla, mov);
@include file-icon(classic, cla, mp2);
@include file-icon(classic, cla, mp3);
@include file-icon(classic, cla, mp4);
@include file-icon(classic, cla, mpa);
@include file-icon(classic, cla, mpd);
@include file-icon(classic, cla, mpe);
@include file-icon(classic, cla, mpeg);
@include file-icon(classic, cla, mpg);
@include file-icon(classic, cla, mpga);
@include file-icon(classic, cla, mpp);
@include file-icon(classic, cla, mpt);
@include file-icon(classic, cla, msg);
@include file-icon(classic, cla, msi);
@include file-icon(classic, cla, msu);
@include file-icon(classic, cla, nef);
@include file-icon(classic, cla, nes);
@include file-icon(classic, cla, nfo);
@include file-icon(classic, cla, nix);
@include file-icon(classic, cla, npmignore);
@include file-icon(classic, cla, ocx);
@include file-icon(classic, cla, odb);
@include file-icon(classic, cla, ods);
@include file-icon(classic, cla, odt);
@include file-icon(classic, cla, ogg);
@include file-icon(classic, cla, ogv);
@include file-icon(classic, cla, ost);
@include file-icon(classic, cla, otf);
@include file-icon(classic, cla, ott);
@include file-icon(classic, cla, ova);
@include file-icon(classic, cla, ovf);
@include file-icon(classic, cla, p12);
@include file-icon(classic, cla, p7b);
@include file-icon(classic, cla, pages);
@include file-icon(classic, cla, part);
@include file-icon(classic, cla, pcd);
@include file-icon(classic, cla, pdb);
@include file-icon(classic, cla, pdf);
@include file-icon(classic, cla, pem);
@include file-icon(classic, cla, pfx);
@include file-icon(classic, cla, pgp);
@include file-icon(classic, cla, ph);
@include file-icon(classic, cla, phar);
@include file-icon(classic, cla, php);
@include file-icon(classic, cla, pid);
@include file-icon(classic, cla, pkg);
@include file-icon(classic, cla, pl);
@include file-icon(classic, cla, plist);
@include file-icon(classic, cla, pm);
@include file-icon(classic, cla, png);
@include file-icon(classic, cla, po);
@include file-icon(classic, cla, pom);
@include file-icon(classic, cla, pot);
@include file-icon(classic, cla, potx);
@include file-icon(classic, cla, pps);
@include file-icon(classic, cla, ppsx);
@include file-icon(classic, cla, ppt);
@include file-icon(classic, cla, pptm);
@include file-icon(classic, cla, pptx);
@include file-icon(classic, cla, prop);
@include file-icon(classic, cla, ps);
@include file-icon(classic, cla, ps1);
@include file-icon(classic, cla, psd);
@include file-icon(classic, cla, psp);
@include file-icon(classic, cla, pst);
@include file-icon(classic, cla, pub);
@include file-icon(classic, cla, py);
@include file-icon(classic, cla, pyc);
@include file-icon(classic, cla, qt);
@include file-icon(classic, cla, ra);
@include file-icon(classic, cla, ram);
@include file-icon(classic, cla, rar);
@include file-icon(classic, cla, raw);
@include file-icon(classic, cla, rb);
@include file-icon(classic, cla, rdf);
@include file-icon(classic, cla, rdl);
@include file-icon(classic, cla, reg);
@include file-icon(classic, cla, resx);
@include file-icon(classic, cla, retry);
@include file-icon(classic, cla, rm);
@include file-icon(classic, cla, rom);
@include file-icon(classic, cla, rpm);
@include file-icon(classic, cla, rpt);
@include file-icon(classic, cla, rsa);
@include file-icon(classic, cla, rss);
@include file-icon(classic, cla, rst);
@include file-icon(classic, cla, rtf);
@include file-icon(classic, cla, ru);
@include file-icon(classic, cla, rub);
@include file-icon(classic, cla, sass);
@include file-icon(classic, cla, scss);
@include file-icon(classic, cla, sdf);
@include file-icon(classic, cla, sed);
@include file-icon(classic, cla, sh);
@include file-icon(classic, cla, sit);
@include file-icon(classic, cla, sitemap);
@include file-icon(classic, cla, skin);
@include file-icon(classic, cla, sldm);
@include file-icon(classic, cla, sldx);
@include file-icon(classic, cla, sln);
@include file-icon(classic, cla, sol);
@include file-icon(classic, cla, sphinx);
@include file-icon(classic, cla, sql);
@include file-icon(classic, cla, sqlite);
@include file-icon(classic, cla, step);
@include file-icon(classic, cla, stl);
@include file-icon(classic, cla, svg);
@include file-icon(classic, cla, swd);
@include file-icon(classic, cla, swf);
@include file-icon(classic, cla, swift);
@include file-icon(classic, cla, swp);
@include file-icon(classic, cla, sys);
@include file-icon(classic, cla, tar);
@include file-icon(classic, cla, tax);
@include file-icon(classic, cla, tcsh);
@include file-icon(classic, cla, tex);
@include file-icon(classic, cla, tfignore);
@include file-icon(classic, cla, tga);
@include file-icon(classic, cla, tgz);
@include file-icon(classic, cla, tif);
@include file-icon(classic, cla, tiff);
@include file-icon(classic, cla, tmp);
@include file-icon(classic, cla, tmx);
@include file-icon(classic, cla, torrent);
@include file-icon(classic, cla, tpl);
@include file-icon(classic, cla, ts);
@include file-icon(classic, cla, tsv);
@include file-icon(classic, cla, ttf);
@include file-icon(classic, cla, twig);
@include file-icon(classic, cla, txt);
@include file-icon(classic, cla, udf);
@include file-icon(classic, cla, vb);
@include file-icon(classic, cla, vbproj);
@include file-icon(classic, cla, vbs);
@include file-icon(classic, cla, vcd);
@include file-icon(classic, cla, vcf);
@include file-icon(classic, cla, vcs);
@include file-icon(classic, cla, vdi);
@include file-icon(classic, cla, vdx);
@include file-icon(classic, cla, vmdk);
@include file-icon(classic, cla, vob);
@include file-icon(classic, cla, vox);
@include file-icon(classic, cla, vscodeignore);
@include file-icon(classic, cla, vsd);
@include file-icon(classic, cla, vss);
@include file-icon(classic, cla, vst);
@include file-icon(classic, cla, vsx);
@include file-icon(classic, cla, vtx);
@include file-icon(classic, cla, war);
@include file-icon(classic, cla, wav);
@include file-icon(classic, cla, wbk);
@include file-icon(classic, cla, webinfo);
@include file-icon(classic, cla, webm);
@include file-icon(classic, cla, webp);
@include file-icon(classic, cla, wma);
@include file-icon(classic, cla, wmf);
@include file-icon(classic, cla, wmv);
@include file-icon(classic, cla, woff);
@include file-icon(classic, cla, woff2);
@include file-icon(classic, cla, wps);
@include file-icon(classic, cla, wsf);
@include file-icon(classic, cla, xaml);
@include file-icon(classic, cla, xcf);
@include file-icon(classic, cla, xfl);
@include file-icon(classic, cla, xlm);
@include file-icon(classic, cla, xls);
@include file-icon(classic, cla, xlsm);
@include file-icon(classic, cla, xlsx);
@include file-icon(classic, cla, xlt);
@include file-icon(classic, cla, xltm);
@include file-icon(classic, cla, xltx);
@include file-icon(classic, cla, xml);
@include file-icon(classic, cla, xpi);
@include file-icon(classic, cla, xps);
@include file-icon(classic, cla, xrb);
@include file-icon(classic, cla, xsd);
@include file-icon(classic, cla, xsl);
@include file-icon(classic, cla, xspf);
@include file-icon(classic, cla, xz);
@include file-icon(classic, cla, yaml);
@include file-icon(classic, cla, yml);
@include file-icon(classic, cla, z);
@include file-icon(classic, cla, zip);
@include file-icon(classic, cla, zsh);
