@include file-family(sqo, 1);
@include file-icon(square-o, sqo, 3g2);
@include file-icon(square-o, sqo, 3ga);
@include file-icon(square-o, sqo, 3gp);
@include file-icon(square-o, sqo, 7z);
@include file-icon(square-o, sqo, aa);
@include file-icon(square-o, sqo, aac);
@include file-icon(square-o, sqo, ac);
@include file-icon(square-o, sqo, accdb);
@include file-icon(square-o, sqo, accdt);
@include file-icon(square-o, sqo, ace);
@include file-icon(square-o, sqo, adn);
@include file-icon(square-o, sqo, ai);
@include file-icon(square-o, sqo, aif);
@include file-icon(square-o, sqo, aifc);
@include file-icon(square-o, sqo, aiff);
@include file-icon(square-o, sqo, ait);
@include file-icon(square-o, sqo, amr);
@include file-icon(square-o, sqo, ani);
@include file-icon(square-o, sqo, apk);
@include file-icon(square-o, sqo, app);
@include file-icon(square-o, sqo, applescript);
@include file-icon(square-o, sqo, asax);
@include file-icon(square-o, sqo, asc);
@include file-icon(square-o, sqo, ascx);
@include file-icon(square-o, sqo, asf);
@include file-icon(square-o, sqo, ash);
@include file-icon(square-o, sqo, ashx);
@include file-icon(square-o, sqo, asm);
@include file-icon(square-o, sqo, asmx);
@include file-icon(square-o, sqo, asp);
@include file-icon(square-o, sqo, aspx);
@include file-icon(square-o, sqo, asx);
@include file-icon(square-o, sqo, au);
@include file-icon(square-o, sqo, aup);
@include file-icon(square-o, sqo, avi);
@include file-icon(square-o, sqo, axd);
@include file-icon(square-o, sqo, aze);
@include file-icon(square-o, sqo, bak);
@include file-icon(square-o, sqo, bash);
@include file-icon(square-o, sqo, bat);
@include file-icon(square-o, sqo, bin);
@include file-icon(square-o, sqo, blank);
@include file-icon(square-o, sqo, bmp);
@include file-icon(square-o, sqo, bowerrc);
@include file-icon(square-o, sqo, bpg);
@include file-icon(square-o, sqo, browser);
@include file-icon(square-o, sqo, bz2);
@include file-icon(square-o, sqo, bzempty);
@include file-icon(square-o, sqo, c);
@include file-icon(square-o, sqo, cab);
@include file-icon(square-o, sqo, cad);
@include file-icon(square-o, sqo, caf);
@include file-icon(square-o, sqo, cal);
@include file-icon(square-o, sqo, cd);
@include file-icon(square-o, sqo, cdda);
@include file-icon(square-o, sqo, cer);
@include file-icon(square-o, sqo, cfg);
@include file-icon(square-o, sqo, cfm);
@include file-icon(square-o, sqo, cfml);
@include file-icon(square-o, sqo, cgi);
@include file-icon(square-o, sqo, chm);
@include file-icon(square-o, sqo, class);
@include file-icon(square-o, sqo, cmd);
@include file-icon(square-o, sqo, code-workspace);
@include file-icon(square-o, sqo, codekit);
@include file-icon(square-o, sqo, coffee);
@include file-icon(square-o, sqo, coffeelintignore);
@include file-icon(square-o, sqo, com);
@include file-icon(square-o, sqo, compile);
@include file-icon(square-o, sqo, conf);
@include file-icon(square-o, sqo, config);
@include file-icon(square-o, sqo, cpp);
@include file-icon(square-o, sqo, cptx);
@include file-icon(square-o, sqo, cr2);
@include file-icon(square-o, sqo, crdownload);
@include file-icon(square-o, sqo, crt);
@include file-icon(square-o, sqo, crypt);
@include file-icon(square-o, sqo, cs);
@include file-icon(square-o, sqo, csh);
@include file-icon(square-o, sqo, cson);
@include file-icon(square-o, sqo, csproj);
@include file-icon(square-o, sqo, css);
@include file-icon(square-o, sqo, csv);
@include file-icon(square-o, sqo, cue);
@include file-icon(square-o, sqo, cur);
@include file-icon(square-o, sqo, dart);
@include file-icon(square-o, sqo, dat);
@include file-icon(square-o, sqo, data);
@include file-icon(square-o, sqo, db);
@include file-icon(square-o, sqo, dbf);
@include file-icon(square-o, sqo, deb);
@include file-icon(square-o, sqo, default);
@include file-icon(square-o, sqo, dgn);
@include file-icon(square-o, sqo, dist);
@include file-icon(square-o, sqo, diz);
@include file-icon(square-o, sqo, dll);
@include file-icon(square-o, sqo, dmg);
@include file-icon(square-o, sqo, dng);
@include file-icon(square-o, sqo, doc);
@include file-icon(square-o, sqo, docb);
@include file-icon(square-o, sqo, docm);
@include file-icon(square-o, sqo, docx);
@include file-icon(square-o, sqo, dot);
@include file-icon(square-o, sqo, dotm);
@include file-icon(square-o, sqo, dotx);
@include file-icon(square-o, sqo, download);
@include file-icon(square-o, sqo, dpj);
@include file-icon(square-o, sqo, ds_store);
@include file-icon(square-o, sqo, dsn);
@include file-icon(square-o, sqo, dtd);
@include file-icon(square-o, sqo, dwg);
@include file-icon(square-o, sqo, dxf);
@include file-icon(square-o, sqo, editorconfig);
@include file-icon(square-o, sqo, el);
@include file-icon(square-o, sqo, elf);
@include file-icon(square-o, sqo, eml);
@include file-icon(square-o, sqo, enc);
@include file-icon(square-o, sqo, eot);
@include file-icon(square-o, sqo, eps);
@include file-icon(square-o, sqo, epub);
@include file-icon(square-o, sqo, eslintignore);
@include file-icon(square-o, sqo, exe);
@include file-icon(square-o, sqo, f4v);
@include file-icon(square-o, sqo, fax);
@include file-icon(square-o, sqo, fb2);
@include file-icon(square-o, sqo, fla);
@include file-icon(square-o, sqo, flac);
@include file-icon(square-o, sqo, flv);
@include file-icon(square-o, sqo, fnt);
@include file-icon(square-o, sqo, folder);
@include file-icon(square-o, sqo, fon);
@include file-icon(square-o, sqo, gadget);
@include file-icon(square-o, sqo, gdp);
@include file-icon(square-o, sqo, gem);
@include file-icon(square-o, sqo, gif);
@include file-icon(square-o, sqo, gitattributes);
@include file-icon(square-o, sqo, gitignore);
@include file-icon(square-o, sqo, go);
@include file-icon(square-o, sqo, gpg);
@include file-icon(square-o, sqo, gpl);
@include file-icon(square-o, sqo, gradle);
@include file-icon(square-o, sqo, gz);
@include file-icon(square-o, sqo, h);
@include file-icon(square-o, sqo, handlebars);
@include file-icon(square-o, sqo, hbs);
@include file-icon(square-o, sqo, heic);
@include file-icon(square-o, sqo, hlp);
@include file-icon(square-o, sqo, hs);
@include file-icon(square-o, sqo, hsl);
@include file-icon(square-o, sqo, htm);
@include file-icon(square-o, sqo, html);
@include file-icon(square-o, sqo, ibooks);
@include file-icon(square-o, sqo, icns);
@include file-icon(square-o, sqo, ico);
@include file-icon(square-o, sqo, ics);
@include file-icon(square-o, sqo, idx);
@include file-icon(square-o, sqo, iff);
@include file-icon(square-o, sqo, ifo);
@include file-icon(square-o, sqo, image);
@include file-icon(square-o, sqo, img);
@include file-icon(square-o, sqo, iml);
@include file-icon(square-o, sqo, in);
@include file-icon(square-o, sqo, inc);
@include file-icon(square-o, sqo, indd);
@include file-icon(square-o, sqo, inf);
@include file-icon(square-o, sqo, info);
@include file-icon(square-o, sqo, ini);
@include file-icon(square-o, sqo, inv);
@include file-icon(square-o, sqo, iso);
@include file-icon(square-o, sqo, j2);
@include file-icon(square-o, sqo, jar);
@include file-icon(square-o, sqo, java);
@include file-icon(square-o, sqo, jpe);
@include file-icon(square-o, sqo, jpeg);
@include file-icon(square-o, sqo, jpg);
@include file-icon(square-o, sqo, js);
@include file-icon(square-o, sqo, json);
@include file-icon(square-o, sqo, jsp);
@include file-icon(square-o, sqo, jsx);
@include file-icon(square-o, sqo, key);
@include file-icon(square-o, sqo, kf8);
@include file-icon(square-o, sqo, kmk);
@include file-icon(square-o, sqo, ksh);
@include file-icon(square-o, sqo, kt);
@include file-icon(square-o, sqo, kts);
@include file-icon(square-o, sqo, kup);
@include file-icon(square-o, sqo, less);
@include file-icon(square-o, sqo, lex);
@include file-icon(square-o, sqo, licx);
@include file-icon(square-o, sqo, lisp);
@include file-icon(square-o, sqo, lit);
@include file-icon(square-o, sqo, lnk);
@include file-icon(square-o, sqo, lock);
@include file-icon(square-o, sqo, log);
@include file-icon(square-o, sqo, lua);
@include file-icon(square-o, sqo, m);
@include file-icon(square-o, sqo, m2v);
@include file-icon(square-o, sqo, m3u);
@include file-icon(square-o, sqo, m3u8);
@include file-icon(square-o, sqo, m4);
@include file-icon(square-o, sqo, m4a);
@include file-icon(square-o, sqo, m4r);
@include file-icon(square-o, sqo, m4v);
@include file-icon(square-o, sqo, map);
@include file-icon(square-o, sqo, master);
@include file-icon(square-o, sqo, mc);
@include file-icon(square-o, sqo, md);
@include file-icon(square-o, sqo, mdb);
@include file-icon(square-o, sqo, mdf);
@include file-icon(square-o, sqo, me);
@include file-icon(square-o, sqo, mi);
@include file-icon(square-o, sqo, mid);
@include file-icon(square-o, sqo, midi);
@include file-icon(square-o, sqo, mk);
@include file-icon(square-o, sqo, mkv);
@include file-icon(square-o, sqo, mm);
@include file-icon(square-o, sqo, mng);
@include file-icon(square-o, sqo, mo);
@include file-icon(square-o, sqo, mobi);
@include file-icon(square-o, sqo, mod);
@include file-icon(square-o, sqo, mov);
@include file-icon(square-o, sqo, mp2);
@include file-icon(square-o, sqo, mp3);
@include file-icon(square-o, sqo, mp4);
@include file-icon(square-o, sqo, mpa);
@include file-icon(square-o, sqo, mpd);
@include file-icon(square-o, sqo, mpe);
@include file-icon(square-o, sqo, mpeg);
@include file-icon(square-o, sqo, mpg);
@include file-icon(square-o, sqo, mpga);
@include file-icon(square-o, sqo, mpp);
@include file-icon(square-o, sqo, mpt);
@include file-icon(square-o, sqo, msg);
@include file-icon(square-o, sqo, msi);
@include file-icon(square-o, sqo, msu);
@include file-icon(square-o, sqo, nef);
@include file-icon(square-o, sqo, nes);
@include file-icon(square-o, sqo, nfo);
@include file-icon(square-o, sqo, nix);
@include file-icon(square-o, sqo, npmignore);
@include file-icon(square-o, sqo, ocx);
@include file-icon(square-o, sqo, odb);
@include file-icon(square-o, sqo, ods);
@include file-icon(square-o, sqo, odt);
@include file-icon(square-o, sqo, ogg);
@include file-icon(square-o, sqo, ogv);
@include file-icon(square-o, sqo, ost);
@include file-icon(square-o, sqo, otf);
@include file-icon(square-o, sqo, ott);
@include file-icon(square-o, sqo, ova);
@include file-icon(square-o, sqo, ovf);
@include file-icon(square-o, sqo, p12);
@include file-icon(square-o, sqo, p7b);
@include file-icon(square-o, sqo, pages);
@include file-icon(square-o, sqo, part);
@include file-icon(square-o, sqo, partial);
@include file-icon(square-o, sqo, pcd);
@include file-icon(square-o, sqo, pdb);
@include file-icon(square-o, sqo, pdf);
@include file-icon(square-o, sqo, pem);
@include file-icon(square-o, sqo, pfx);
@include file-icon(square-o, sqo, pgp);
@include file-icon(square-o, sqo, ph);
@include file-icon(square-o, sqo, phar);
@include file-icon(square-o, sqo, php);
@include file-icon(square-o, sqo, pid);
@include file-icon(square-o, sqo, pkg);
@include file-icon(square-o, sqo, pl);
@include file-icon(square-o, sqo, plist);
@include file-icon(square-o, sqo, pm);
@include file-icon(square-o, sqo, png);
@include file-icon(square-o, sqo, po);
@include file-icon(square-o, sqo, pom);
@include file-icon(square-o, sqo, pot);
@include file-icon(square-o, sqo, potx);
@include file-icon(square-o, sqo, pps);
@include file-icon(square-o, sqo, ppsx);
@include file-icon(square-o, sqo, ppt);
@include file-icon(square-o, sqo, pptm);
@include file-icon(square-o, sqo, pptx);
@include file-icon(square-o, sqo, prop);
@include file-icon(square-o, sqo, ps);
@include file-icon(square-o, sqo, ps1);
@include file-icon(square-o, sqo, psd);
@include file-icon(square-o, sqo, psp);
@include file-icon(square-o, sqo, pst);
@include file-icon(square-o, sqo, pub);
@include file-icon(square-o, sqo, py);
@include file-icon(square-o, sqo, pyc);
@include file-icon(square-o, sqo, qt);
@include file-icon(square-o, sqo, ra);
@include file-icon(square-o, sqo, ram);
@include file-icon(square-o, sqo, rar);
@include file-icon(square-o, sqo, raw);
@include file-icon(square-o, sqo, rb);
@include file-icon(square-o, sqo, rdf);
@include file-icon(square-o, sqo, rdl);
@include file-icon(square-o, sqo, reg);
@include file-icon(square-o, sqo, resx);
@include file-icon(square-o, sqo, retry);
@include file-icon(square-o, sqo, rm);
@include file-icon(square-o, sqo, rom);
@include file-icon(square-o, sqo, rpm);
@include file-icon(square-o, sqo, rpt);
@include file-icon(square-o, sqo, rsa);
@include file-icon(square-o, sqo, rss);
@include file-icon(square-o, sqo, rst);
@include file-icon(square-o, sqo, rtf);
@include file-icon(square-o, sqo, ru);
@include file-icon(square-o, sqo, rub);
@include file-icon(square-o, sqo, sass);
@include file-icon(square-o, sqo, scss);
@include file-icon(square-o, sqo, sdf);
@include file-icon(square-o, sqo, sed);
@include file-icon(square-o, sqo, sh);
@include file-icon(square-o, sqo, sit);
@include file-icon(square-o, sqo, sitemap);
@include file-icon(square-o, sqo, skin);
@include file-icon(square-o, sqo, sldm);
@include file-icon(square-o, sqo, sldx);
@include file-icon(square-o, sqo, sln);
@include file-icon(square-o, sqo, sol);
@include file-icon(square-o, sqo, sphinx);
@include file-icon(square-o, sqo, sql);
@include file-icon(square-o, sqo, sqlite);
@include file-icon(square-o, sqo, step);
@include file-icon(square-o, sqo, stl);
@include file-icon(square-o, sqo, svg);
@include file-icon(square-o, sqo, swd);
@include file-icon(square-o, sqo, swf);
@include file-icon(square-o, sqo, swift);
@include file-icon(square-o, sqo, swp);
@include file-icon(square-o, sqo, sys);
@include file-icon(square-o, sqo, tar);
@include file-icon(square-o, sqo, tax);
@include file-icon(square-o, sqo, tcsh);
@include file-icon(square-o, sqo, tex);
@include file-icon(square-o, sqo, tfignore);
@include file-icon(square-o, sqo, tga);
@include file-icon(square-o, sqo, tgz);
@include file-icon(square-o, sqo, tif);
@include file-icon(square-o, sqo, tiff);
@include file-icon(square-o, sqo, tmp);
@include file-icon(square-o, sqo, tmx);
@include file-icon(square-o, sqo, torrent);
@include file-icon(square-o, sqo, tpl);
@include file-icon(square-o, sqo, ts);
@include file-icon(square-o, sqo, tsv);
@include file-icon(square-o, sqo, ttf);
@include file-icon(square-o, sqo, twig);
@include file-icon(square-o, sqo, txt);
@include file-icon(square-o, sqo, udf);
@include file-icon(square-o, sqo, vb);
@include file-icon(square-o, sqo, vbproj);
@include file-icon(square-o, sqo, vbs);
@include file-icon(square-o, sqo, vcd);
@include file-icon(square-o, sqo, vcf);
@include file-icon(square-o, sqo, vcs);
@include file-icon(square-o, sqo, vdi);
@include file-icon(square-o, sqo, vdx);
@include file-icon(square-o, sqo, vmdk);
@include file-icon(square-o, sqo, vob);
@include file-icon(square-o, sqo, vox);
@include file-icon(square-o, sqo, vscodeignore);
@include file-icon(square-o, sqo, vsd);
@include file-icon(square-o, sqo, vss);
@include file-icon(square-o, sqo, vst);
@include file-icon(square-o, sqo, vsx);
@include file-icon(square-o, sqo, vtx);
@include file-icon(square-o, sqo, war);
@include file-icon(square-o, sqo, wav);
@include file-icon(square-o, sqo, wbk);
@include file-icon(square-o, sqo, webinfo);
@include file-icon(square-o, sqo, webm);
@include file-icon(square-o, sqo, webp);
@include file-icon(square-o, sqo, wma);
@include file-icon(square-o, sqo, wmf);
@include file-icon(square-o, sqo, wmv);
@include file-icon(square-o, sqo, woff);
@include file-icon(square-o, sqo, woff2);
@include file-icon(square-o, sqo, wps);
@include file-icon(square-o, sqo, wsf);
@include file-icon(square-o, sqo, xaml);
@include file-icon(square-o, sqo, xcf);
@include file-icon(square-o, sqo, xfl);
@include file-icon(square-o, sqo, xlm);
@include file-icon(square-o, sqo, xls);
@include file-icon(square-o, sqo, xlsm);
@include file-icon(square-o, sqo, xlsx);
@include file-icon(square-o, sqo, xlt);
@include file-icon(square-o, sqo, xltm);
@include file-icon(square-o, sqo, xltx);
@include file-icon(square-o, sqo, xml);
@include file-icon(square-o, sqo, xpi);
@include file-icon(square-o, sqo, xps);
@include file-icon(square-o, sqo, xrb);
@include file-icon(square-o, sqo, xsd);
@include file-icon(square-o, sqo, xsl);
@include file-icon(square-o, sqo, xspf);
@include file-icon(square-o, sqo, xz);
@include file-icon(square-o, sqo, yaml);
@include file-icon(square-o, sqo, yml);
@include file-icon(square-o, sqo, z);
@include file-icon(square-o, sqo, zip);
@include file-icon(square-o, sqo, zsh);
