@include file-family(viv, 0.75);
@include file-icon(vivid, viv, 3g2);
@include file-icon(vivid, viv, 3ga);
@include file-icon(vivid, viv, 3gp);
@include file-icon(vivid, viv, 7z);
@include file-icon(vivid, viv, aa);
@include file-icon(vivid, viv, aac);
@include file-icon(vivid, viv, ac);
@include file-icon(vivid, viv, accdb);
@include file-icon(vivid, viv, accdt);
@include file-icon(vivid, viv, ace);
@include file-icon(vivid, viv, adn);
@include file-icon(vivid, viv, ai);
@include file-icon(vivid, viv, aif);
@include file-icon(vivid, viv, aifc);
@include file-icon(vivid, viv, aiff);
@include file-icon(vivid, viv, ait);
@include file-icon(vivid, viv, amr);
@include file-icon(vivid, viv, ani);
@include file-icon(vivid, viv, apk);
@include file-icon(vivid, viv, app);
@include file-icon(vivid, viv, applescript);
@include file-icon(vivid, viv, asax);
@include file-icon(vivid, viv, asc);
@include file-icon(vivid, viv, ascx);
@include file-icon(vivid, viv, asf);
@include file-icon(vivid, viv, ash);
@include file-icon(vivid, viv, ashx);
@include file-icon(vivid, viv, asm);
@include file-icon(vivid, viv, asmx);
@include file-icon(vivid, viv, asp);
@include file-icon(vivid, viv, aspx);
@include file-icon(vivid, viv, asx);
@include file-icon(vivid, viv, au);
@include file-icon(vivid, viv, aup);
@include file-icon(vivid, viv, avi);
@include file-icon(vivid, viv, axd);
@include file-icon(vivid, viv, aze);
@include file-icon(vivid, viv, bak);
@include file-icon(vivid, viv, bash);
@include file-icon(vivid, viv, bat);
@include file-icon(vivid, viv, bin);
@include file-icon(vivid, viv, blank);
@include file-icon(vivid, viv, bmp);
@include file-icon(vivid, viv, bowerrc);
@include file-icon(vivid, viv, bpg);
@include file-icon(vivid, viv, browser);
@include file-icon(vivid, viv, bz2);
@include file-icon(vivid, viv, bzempty);
@include file-icon(vivid, viv, c);
@include file-icon(vivid, viv, cab);
@include file-icon(vivid, viv, cad);
@include file-icon(vivid, viv, caf);
@include file-icon(vivid, viv, cal);
@include file-icon(vivid, viv, cd);
@include file-icon(vivid, viv, cdda);
@include file-icon(vivid, viv, cer);
@include file-icon(vivid, viv, cfg);
@include file-icon(vivid, viv, cfm);
@include file-icon(vivid, viv, cfml);
@include file-icon(vivid, viv, cgi);
@include file-icon(vivid, viv, chm);
@include file-icon(vivid, viv, class);
@include file-icon(vivid, viv, cmd);
@include file-icon(vivid, viv, code-workspace);
@include file-icon(vivid, viv, codekit);
@include file-icon(vivid, viv, coffee);
@include file-icon(vivid, viv, coffeelintignore);
@include file-icon(vivid, viv, com);
@include file-icon(vivid, viv, compile);
@include file-icon(vivid, viv, conf);
@include file-icon(vivid, viv, config);
@include file-icon(vivid, viv, cpp);
@include file-icon(vivid, viv, cptx);
@include file-icon(vivid, viv, cr2);
@include file-icon(vivid, viv, crdownload);
@include file-icon(vivid, viv, crt);
@include file-icon(vivid, viv, crypt);
@include file-icon(vivid, viv, cs);
@include file-icon(vivid, viv, csh);
@include file-icon(vivid, viv, cson);
@include file-icon(vivid, viv, csproj);
@include file-icon(vivid, viv, css);
@include file-icon(vivid, viv, csv);
@include file-icon(vivid, viv, cue);
@include file-icon(vivid, viv, cur);
@include file-icon(vivid, viv, dart);
@include file-icon(vivid, viv, dat);
@include file-icon(vivid, viv, data);
@include file-icon(vivid, viv, db);
@include file-icon(vivid, viv, dbf);
@include file-icon(vivid, viv, deb);
@include file-icon(vivid, viv, default);
@include file-icon(vivid, viv, dgn);
@include file-icon(vivid, viv, dist);
@include file-icon(vivid, viv, diz);
@include file-icon(vivid, viv, dll);
@include file-icon(vivid, viv, dmg);
@include file-icon(vivid, viv, dng);
@include file-icon(vivid, viv, doc);
@include file-icon(vivid, viv, docb);
@include file-icon(vivid, viv, docm);
@include file-icon(vivid, viv, docx);
@include file-icon(vivid, viv, dot);
@include file-icon(vivid, viv, dotm);
@include file-icon(vivid, viv, dotx);
@include file-icon(vivid, viv, download);
@include file-icon(vivid, viv, dpj);
@include file-icon(vivid, viv, ds_store);
@include file-icon(vivid, viv, dsn);
@include file-icon(vivid, viv, dtd);
@include file-icon(vivid, viv, dwg);
@include file-icon(vivid, viv, dxf);
@include file-icon(vivid, viv, editorconfig);
@include file-icon(vivid, viv, el);
@include file-icon(vivid, viv, elf);
@include file-icon(vivid, viv, eml);
@include file-icon(vivid, viv, enc);
@include file-icon(vivid, viv, eot);
@include file-icon(vivid, viv, eps);
@include file-icon(vivid, viv, epub);
@include file-icon(vivid, viv, eslintignore);
@include file-icon(vivid, viv, exe);
@include file-icon(vivid, viv, f4v);
@include file-icon(vivid, viv, fax);
@include file-icon(vivid, viv, fb2);
@include file-icon(vivid, viv, fla);
@include file-icon(vivid, viv, flac);
@include file-icon(vivid, viv, flv);
@include file-icon(vivid, viv, fnt);
@include file-icon(vivid, viv, folder);
@include file-icon(vivid, viv, fon);
@include file-icon(vivid, viv, gadget);
@include file-icon(vivid, viv, gdp);
@include file-icon(vivid, viv, gem);
@include file-icon(vivid, viv, gif);
@include file-icon(vivid, viv, gitattributes);
@include file-icon(vivid, viv, gitignore);
@include file-icon(vivid, viv, go);
@include file-icon(vivid, viv, gpg);
@include file-icon(vivid, viv, gpl);
@include file-icon(vivid, viv, gradle);
@include file-icon(vivid, viv, gz);
@include file-icon(vivid, viv, h);
@include file-icon(vivid, viv, handlebars);
@include file-icon(vivid, viv, hbs);
@include file-icon(vivid, viv, heic);
@include file-icon(vivid, viv, hlp);
@include file-icon(vivid, viv, hs);
@include file-icon(vivid, viv, hsl);
@include file-icon(vivid, viv, htm);
@include file-icon(vivid, viv, html);
@include file-icon(vivid, viv, ibooks);
@include file-icon(vivid, viv, icns);
@include file-icon(vivid, viv, ico);
@include file-icon(vivid, viv, ics);
@include file-icon(vivid, viv, idx);
@include file-icon(vivid, viv, iff);
@include file-icon(vivid, viv, ifo);
@include file-icon(vivid, viv, image);
@include file-icon(vivid, viv, img);
@include file-icon(vivid, viv, iml);
@include file-icon(vivid, viv, in);
@include file-icon(vivid, viv, inc);
@include file-icon(vivid, viv, indd);
@include file-icon(vivid, viv, inf);
@include file-icon(vivid, viv, info);
@include file-icon(vivid, viv, ini);
@include file-icon(vivid, viv, inv);
@include file-icon(vivid, viv, iso);
@include file-icon(vivid, viv, j2);
@include file-icon(vivid, viv, jar);
@include file-icon(vivid, viv, java);
@include file-icon(vivid, viv, jpe);
@include file-icon(vivid, viv, jpeg);
@include file-icon(vivid, viv, jpg);
@include file-icon(vivid, viv, js);
@include file-icon(vivid, viv, json);
@include file-icon(vivid, viv, jsp);
@include file-icon(vivid, viv, jsx);
@include file-icon(vivid, viv, key);
@include file-icon(vivid, viv, kf8);
@include file-icon(vivid, viv, kmk);
@include file-icon(vivid, viv, ksh);
@include file-icon(vivid, viv, kt);
@include file-icon(vivid, viv, kts);
@include file-icon(vivid, viv, kup);
@include file-icon(vivid, viv, less);
@include file-icon(vivid, viv, lex);
@include file-icon(vivid, viv, licx);
@include file-icon(vivid, viv, lisp);
@include file-icon(vivid, viv, lit);
@include file-icon(vivid, viv, lnk);
@include file-icon(vivid, viv, lock);
@include file-icon(vivid, viv, log);
@include file-icon(vivid, viv, lua);
@include file-icon(vivid, viv, m);
@include file-icon(vivid, viv, m2v);
@include file-icon(vivid, viv, m3u);
@include file-icon(vivid, viv, m3u8);
@include file-icon(vivid, viv, m4);
@include file-icon(vivid, viv, m4a);
@include file-icon(vivid, viv, m4r);
@include file-icon(vivid, viv, m4v);
@include file-icon(vivid, viv, map);
@include file-icon(vivid, viv, master);
@include file-icon(vivid, viv, mc);
@include file-icon(vivid, viv, md);
@include file-icon(vivid, viv, mdb);
@include file-icon(vivid, viv, mdf);
@include file-icon(vivid, viv, me);
@include file-icon(vivid, viv, mi);
@include file-icon(vivid, viv, mid);
@include file-icon(vivid, viv, midi);
@include file-icon(vivid, viv, mk);
@include file-icon(vivid, viv, mkv);
@include file-icon(vivid, viv, mm);
@include file-icon(vivid, viv, mng);
@include file-icon(vivid, viv, mo);
@include file-icon(vivid, viv, mobi);
@include file-icon(vivid, viv, mod);
@include file-icon(vivid, viv, mov);
@include file-icon(vivid, viv, mp2);
@include file-icon(vivid, viv, mp3);
@include file-icon(vivid, viv, mp4);
@include file-icon(vivid, viv, mpa);
@include file-icon(vivid, viv, mpd);
@include file-icon(vivid, viv, mpe);
@include file-icon(vivid, viv, mpeg);
@include file-icon(vivid, viv, mpg);
@include file-icon(vivid, viv, mpga);
@include file-icon(vivid, viv, mpp);
@include file-icon(vivid, viv, mpt);
@include file-icon(vivid, viv, msg);
@include file-icon(vivid, viv, msi);
@include file-icon(vivid, viv, msu);
@include file-icon(vivid, viv, nef);
@include file-icon(vivid, viv, nes);
@include file-icon(vivid, viv, nfo);
@include file-icon(vivid, viv, nix);
@include file-icon(vivid, viv, npmignore);
@include file-icon(vivid, viv, ocx);
@include file-icon(vivid, viv, odb);
@include file-icon(vivid, viv, ods);
@include file-icon(vivid, viv, odt);
@include file-icon(vivid, viv, ogg);
@include file-icon(vivid, viv, ogv);
@include file-icon(vivid, viv, ost);
@include file-icon(vivid, viv, otf);
@include file-icon(vivid, viv, ott);
@include file-icon(vivid, viv, ova);
@include file-icon(vivid, viv, ovf);
@include file-icon(vivid, viv, p12);
@include file-icon(vivid, viv, p7b);
@include file-icon(vivid, viv, pages);
@include file-icon(vivid, viv, part);
@include file-icon(vivid, viv, pcd);
@include file-icon(vivid, viv, pdb);
@include file-icon(vivid, viv, pdf);
@include file-icon(vivid, viv, pem);
@include file-icon(vivid, viv, pfx);
@include file-icon(vivid, viv, pgp);
@include file-icon(vivid, viv, ph);
@include file-icon(vivid, viv, phar);
@include file-icon(vivid, viv, php);
@include file-icon(vivid, viv, pid);
@include file-icon(vivid, viv, pkg);
@include file-icon(vivid, viv, pl);
@include file-icon(vivid, viv, plist);
@include file-icon(vivid, viv, pm);
@include file-icon(vivid, viv, png);
@include file-icon(vivid, viv, po);
@include file-icon(vivid, viv, pom);
@include file-icon(vivid, viv, pot);
@include file-icon(vivid, viv, potx);
@include file-icon(vivid, viv, pps);
@include file-icon(vivid, viv, ppsx);
@include file-icon(vivid, viv, ppt);
@include file-icon(vivid, viv, pptm);
@include file-icon(vivid, viv, pptx);
@include file-icon(vivid, viv, prop);
@include file-icon(vivid, viv, ps);
@include file-icon(vivid, viv, ps1);
@include file-icon(vivid, viv, psd);
@include file-icon(vivid, viv, psp);
@include file-icon(vivid, viv, pst);
@include file-icon(vivid, viv, pub);
@include file-icon(vivid, viv, py);
@include file-icon(vivid, viv, pyc);
@include file-icon(vivid, viv, qt);
@include file-icon(vivid, viv, ra);
@include file-icon(vivid, viv, ram);
@include file-icon(vivid, viv, rar);
@include file-icon(vivid, viv, raw);
@include file-icon(vivid, viv, rb);
@include file-icon(vivid, viv, rdf);
@include file-icon(vivid, viv, rdl);
@include file-icon(vivid, viv, reg);
@include file-icon(vivid, viv, resx);
@include file-icon(vivid, viv, retry);
@include file-icon(vivid, viv, rm);
@include file-icon(vivid, viv, rom);
@include file-icon(vivid, viv, rpm);
@include file-icon(vivid, viv, rpt);
@include file-icon(vivid, viv, rsa);
@include file-icon(vivid, viv, rss);
@include file-icon(vivid, viv, rst);
@include file-icon(vivid, viv, rtf);
@include file-icon(vivid, viv, ru);
@include file-icon(vivid, viv, rub);
@include file-icon(vivid, viv, sass);
@include file-icon(vivid, viv, scss);
@include file-icon(vivid, viv, sdf);
@include file-icon(vivid, viv, sed);
@include file-icon(vivid, viv, sh);
@include file-icon(vivid, viv, sit);
@include file-icon(vivid, viv, sitemap);
@include file-icon(vivid, viv, skin);
@include file-icon(vivid, viv, sldm);
@include file-icon(vivid, viv, sldx);
@include file-icon(vivid, viv, sln);
@include file-icon(vivid, viv, sol);
@include file-icon(vivid, viv, sphinx);
@include file-icon(vivid, viv, sql);
@include file-icon(vivid, viv, sqlite);
@include file-icon(vivid, viv, step);
@include file-icon(vivid, viv, stl);
@include file-icon(vivid, viv, svg);
@include file-icon(vivid, viv, swd);
@include file-icon(vivid, viv, swf);
@include file-icon(vivid, viv, swift);
@include file-icon(vivid, viv, swp);
@include file-icon(vivid, viv, sys);
@include file-icon(vivid, viv, tar);
@include file-icon(vivid, viv, tax);
@include file-icon(vivid, viv, tcsh);
@include file-icon(vivid, viv, tex);
@include file-icon(vivid, viv, tfignore);
@include file-icon(vivid, viv, tga);
@include file-icon(vivid, viv, tgz);
@include file-icon(vivid, viv, tif);
@include file-icon(vivid, viv, tiff);
@include file-icon(vivid, viv, tmp);
@include file-icon(vivid, viv, tmx);
@include file-icon(vivid, viv, torrent);
@include file-icon(vivid, viv, tpl);
@include file-icon(vivid, viv, ts);
@include file-icon(vivid, viv, tsv);
@include file-icon(vivid, viv, ttf);
@include file-icon(vivid, viv, twig);
@include file-icon(vivid, viv, txt);
@include file-icon(vivid, viv, udf);
@include file-icon(vivid, viv, vb);
@include file-icon(vivid, viv, vbproj);
@include file-icon(vivid, viv, vbs);
@include file-icon(vivid, viv, vcd);
@include file-icon(vivid, viv, vcf);
@include file-icon(vivid, viv, vcs);
@include file-icon(vivid, viv, vdi);
@include file-icon(vivid, viv, vdx);
@include file-icon(vivid, viv, vmdk);
@include file-icon(vivid, viv, vob);
@include file-icon(vivid, viv, vox);
@include file-icon(vivid, viv, vscodeignore);
@include file-icon(vivid, viv, vsd);
@include file-icon(vivid, viv, vss);
@include file-icon(vivid, viv, vst);
@include file-icon(vivid, viv, vsx);
@include file-icon(vivid, viv, vtx);
@include file-icon(vivid, viv, war);
@include file-icon(vivid, viv, wav);
@include file-icon(vivid, viv, wbk);
@include file-icon(vivid, viv, webinfo);
@include file-icon(vivid, viv, webm);
@include file-icon(vivid, viv, webp);
@include file-icon(vivid, viv, wma);
@include file-icon(vivid, viv, wmf);
@include file-icon(vivid, viv, wmv);
@include file-icon(vivid, viv, woff);
@include file-icon(vivid, viv, woff2);
@include file-icon(vivid, viv, wps);
@include file-icon(vivid, viv, wsf);
@include file-icon(vivid, viv, xaml);
@include file-icon(vivid, viv, xcf);
@include file-icon(vivid, viv, xfl);
@include file-icon(vivid, viv, xlm);
@include file-icon(vivid, viv, xls);
@include file-icon(vivid, viv, xlsm);
@include file-icon(vivid, viv, xlsx);
@include file-icon(vivid, viv, xlt);
@include file-icon(vivid, viv, xltm);
@include file-icon(vivid, viv, xltx);
@include file-icon(vivid, viv, xml);
@include file-icon(vivid, viv, xpi);
@include file-icon(vivid, viv, xps);
@include file-icon(vivid, viv, xrb);
@include file-icon(vivid, viv, xsd);
@include file-icon(vivid, viv, xsl);
@include file-icon(vivid, viv, xspf);
@include file-icon(vivid, viv, xz);
@include file-icon(vivid, viv, yaml);
@include file-icon(vivid, viv, yml);
@include file-icon(vivid, viv, z);
@include file-icon(vivid, viv, zip);
@include file-icon(vivid, viv, zsh);
